<div class="card" *ngIf="product">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      class="img"
      src="{{ product.images[0] }}"
      alt="{{ product.description }}"
    />
    <mat-card-content>
      {{ product.description }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
